# AppImage
AppDir/
CHANGELOG.md

# Editor
.vscode/

# Gettext
*.pot
*.mo

# Meson
builddir/

# Python
*__pycache__

# Run from source
nottodbox/locale/
share/applications/*.desktop
share/metainfo/*.appdata.xml