# Flatpak
.flatpak-builder/

# Editor
.vscode/

# Localization
nottodbox/scripts/resources/locale.py
*.qm
*.pot

# pipx
build/
nottodbox.egg-info

# PyInstaller
build/
dist/
nottodbox.spec

# Python
*__pycache__